button{
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
    border: 2px soid white;
    border-radius: 15px;
    margin: 15px;
    font-size: 35px;
    cursor: pointer;/* manito en vez de flecha*/

  }

  button:hover{
    background-color: #00471b;
  }

  .boton-click{
    background-color: #002ead;

  }

  .boton-reiniciar{
    background-color: #5a01a7;
  }